@{
    ViewData["Title"] = "Aloitussivu";
}

<div id="container">
    <div>
        <a asp-area="" asp-controller="Tietokanta" asp-action="Keskustelut">Keskustelut</a>
    </div>
    <div>
        <a asp-area="" asp-controller="Tietokanta" asp-action="Reseptit">Reseptit</a>
    </div>
</div>
