@model IEnumerable<Demo.Models.Kommentti>

@{
    ViewData["Title"] = "Keskustelun alasivu";
}


<div class="container">
    <h4>Kommentit</h4>
    <hr />
    @foreach (var item in Model)
    {
        <div class="border border-primary m-2 p-2" style="background-color: rgba(230, 230, 255, 0.8);">
            <div class="row">
                <div class="col-sm">
                    @Html.DisplayFor(modelItem => item.Otsikko)
                </div>
                <div class="col-sm">
                    @Html.DisplayFor(modelItem => item.Tekija)
                </div>
                <div class="col-sm">
                    @Html.DisplayFor(modelItem => item.Luotu)
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    @Html.DisplayFor(modelItem => item.Teksti)
                </div>
            </div>
        </div>
    }
</div>

<div class="container">
    <form action="/Tietokanta/Keskustelu/@ViewData["keskusteluID"]" method="post">
        <h4>Lisää uusi kommentti</h4>
        <hr />
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Otsikko">Otsikko:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="Otsikko" name="Otsikko" />
                <span class="text-danger field-validation-valid" data-valmsg-for="Otsikko" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Tekija">Tekijä:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="Tekija" name="Tekija" />
                <span class="text-danger field-validation-valid" data-valmsg-for="Tekija" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Teksti">Teksti:</label>
            <div class="col-sm-10">
                <textarea class="form-control" type="text" id="Teksti" name="Teksti"></textarea>
                <span class="text-danger field-validation-valid" data-valmsg-for="Teksti" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<partial name="_partialTietokanta" />