@model Demo.Models.Resepti

@{
    ViewData["Title"] = "Resepti";
}

<div class="container text-center mt-4">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="container" style="font-size:large">
    <div class="row border border-secondary m-2 p-2" style="background-color: rgba(200, 200, 255, 0.75);">
        <div class=" col-sm-2" style="font-weight:900">
            Nimi:
        </div>
        <div class="col-sm-6">
            @Html.DisplayFor(model => model.Nimi)
        </div>
        <div class=" col-sm-2" style="font-weight:900">
            Valmistusaika:
        </div>
        <div class="col-sm-2">
            @Html.DisplayFor(model => model.Aika) minuuttia
        </div>
    </div>
    <div class="row border border-secondary m-2 p-2" style="background-color: rgba(200, 200, 255, 0.75);">
        <div class=" col-sm-2" style="font-weight:900">
            Ohje:
        </div>
        <div class=" col-sm-10">
            @Html.DisplayFor(model => model.Ohje)
        </div>
    </div>
</div>
