@{
    ViewData["Title"] = "Demonstraatioita";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div>
        <p><a asp-area="" asp-controller="Demo" asp-action="Laskuri">Laskimia</a></p>
        <p><a asp-area="" asp-controller="Demo" asp-action="Reitinhaku">Reitinhaku</a></p>
    </div>    
</div>

