@{
    ViewData["Title"] = "JavaScript";
}

<link href="~/css/kellokokeilu.css" rel="stylesheet" />

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-12">
                <div style="display:flex; justify-content:center; align-content: center;">
                    <div class="kello">
                        <div id="tunnit" class="viisari tuntiviisari"></div>
                        <div id="minuutit" class="viisari minuuttiviisari"></div>
                        <div id="sekunnit" class="viisari sekunttiviisari"></div>
                        <div class=nappula></div>
                        <div class="tunti tunti3">III</div>
                        <div class="tunti tunti6">VI</div>
                        <div class="tunti tunti9">IX</div>
                        <div class="tunti tunti12">XII</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/kellokokeilu.js"></script>