@model Demo.Models.Arvopari

@{
    ViewData["Title"] = "Laskin";
}

<div class="container text-center  mt-4">
    <h1>@ViewData["Title"]</h1>
</div>

<h4>Laskuri käyttäen C# kieltä</h4>

<form asp-action="Laskuri" asp-controller="Demo">
    <label asp-for="A">Ensimmäinen luku</label>
    <input asp-for="A" placeholder="Arvo" />
    <label asp-for="B">Toinen luku</label>
    <input asp-for="B" placeholder="Arvo" />

    @Html.DropDownListFor(m => m.Toiminto, new SelectList(Enum.GetValues(typeof(Laskutoimitus))), "Laskutoimitus")

    <input type="submit" />
</form>

<p>Tulos: @ViewData["laskuri"]</p>

<h4>Laskuri käyttäen JavaScript kieltä</h4>

<div class="container w-50">
    <div class="btn-group-vertical w-100"  style="background-color:azure;">
        <div class="btn-group" role="group">
            <p id="vanhatulosruutu" class="border border-primary mb-0 w-75 pt-2 pb-2 text-center">&nbsp;</p>
            <p id="operaattori" class="border border-primary mb-0 w-25 pt-2 pb-2 text-center">&nbsp;</p>
        </div>
        <div class="btn-group" role="group"> 
            <p id="tulosruutu" class="border border-primary mb-0 w-75 pt-2 pb-2 text-center">&nbsp;</p>
            <button type="button" class="btn btn-outline-secondary w-25" onclick="NollaaLaskuri()">CE</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-primary w-25" onclick="LisaaLukuun()">1</button>
            <button type="button" class="btn btn-outline-primary w-25" onclick="LisaaLukuun()">2</button>
            <button type="button" class="btn btn-outline-primary w-25" onclick="LisaaLukuun()">3</button>
            <button type="button" class="btn btn-outline-secondary w-25" onclick="VaihdaOperaattoria()">+</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-primary w-25" onclick="LisaaLukuun()">4</button>
            <button type="button" class="btn btn-outline-primary w-25" onclick="LisaaLukuun()">5</button>
            <button type="button" class="btn btn-outline-primary w-25" onclick="LisaaLukuun()">6</button>
            <button type="button" class="btn btn-outline-secondary w-25" onclick="VaihdaOperaattoria()">-</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-primary w-25" onclick="LisaaLukuun()">7</button>
            <button type="button" class="btn btn-outline-primary w-25" onclick="LisaaLukuun()">8</button>
            <button type="button" class="btn btn-outline-primary w-25" onclick="LisaaLukuun()">9</button>
            <button type="button" class="btn btn-outline-secondary w-25" onclick="VaihdaOperaattoria()">*</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-primary w-25" onclick="PisteenLisays()">.</button>
            <button type="button" class="btn btn-outline-primary w-25" onclick="LisaaLukuun()">0</button>
            <button type="button" class="btn btn-outline-secondary w-25" onclick="VaihdaOperaattoria()">/</button>
            <button type="button" class="btn btn-outline-secondary w-25" onclick="VaihdaOperaattoria()">%</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-secondary w-25" onclick="MerkinVaihto()">+/-</button>
            <button type="button" class="btn btn-secondary w-50" onclick="LaskeLasku()">Laske</button>
            <button type="button" class="btn btn-outline-secondary w-25" onclick="PoistaLuku()">DEL</button>
        </div>
    </div>
</div>

<div class="container">
    <h4>Rivilaskin käyttäen C#</h4>
    <p>Sallittuja merkkejä ovat kaikki numerot, sekä (, ), ^, +, -, * ja /. Desimaalierotin voi olla joko piste tai pilkku. Jokainen numero tai merkki on erotettava välilyönnillä, eli 2 + -123 on OK, mutta 2*2, ei ole.</p>
</div>

<form asp-action="Rivilaskuri" asp-controller="Demo">
    <div class="form-group row">
        <label class="col-sm-3 col-form-label" for="syöte">Anna laskettava lauseke:</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" id="syöte" name="syöte" />
            <span class="text-danger field-validation-valid" data-valmsg-for="syöte" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Laske" class="btn btn-primary" />
        </div>
    </div>
</form>

<div class="m-2 p-2" style="background-color: rgba(200,200,255,0.7);">
    <div class="row">
        <div class="col-sm-2" style="font-weight:900;">
            Tulos:
        </div>
        <div class="col-sm-2">
            @ViewData["rivilasku"]
        </div>
    </div>
</div>

<script src="~/js/Laskutoimitus.js"></script>