<div class="container mt-5 text-center" style="font-size:x-large">
    <div class="row">
        <div class="col-sm p-2 m-2" style="border: 1px solid black; background-color: rgba(230,230,255,0.8);">
            <a asp-area="" asp-controller="Home" asp-action="Index">Etusivu</a>
        </div>
        <div class="col-sm p-2 m-2 text-center" style="border: 1px solid black; background-color: rgba(230,230,255,0.8);">
            <a asp-area="" asp-controller="Home" asp-action="CVsivu">Curriculum Vitae</a>
        </div>
        <div class="col-sm p-2 m-2 text-center" style="border: 1px solid black; background-color: rgba(230,230,255,0.8);">
            <a asp-area="" asp-controller="Home" asp-action="Luonto">Luontokuvia</a>
        </div>
    </div>
</div>