@{
    ViewData["Title"] = "Aloitussivu";
}

<div class="text-center mt-4">
    <h1 class="display-4">Tervetuloa</h1>
    <h3>Tällä sivustolla esitellään minun CV:tä, joitain muita tietoja itsestäni, sekä lyhyesti ohjelmointiani</h3>

    <div class="row" style="font-size:x-large">
        <div class="col-sm m-2 p-2">
            <a asp-area="" asp-controller="Home" asp-action="CVsivu">Curriculum Vitae</a>
        </div>
    </div>
    <div class="row" style="font-size:x-large">
        <div class="col-sm">
            <a asp-area="" asp-controller="Home" asp-action="Luonto">Luontokuvia ja ulkoilua</a>
        </div>
    </div>
</div>
