@{
    ViewData["Title"] = "Aloitussivu";
}

<div class="text-center">
    <h1 class="display-4">Tervetuloa</h1>
    <p>Tällä sivustolla esitellään minun CV:tä, joitain muita tietoja itsestäni, sekä lyhyesti ohjelmointiani</p>

    <a asp-area="" asp-controller="Home" asp-action="CVsivu">Curriculum Vitae</a>
</div>
