@{
    ViewData["Title"] = "Luontokuvia";
}

<div class="text-center mt-4">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h3>Tässä vähän mitä voi nähdä kun kiertää Turussa ja Turun ympäristössä.</h3>

    <div class="row" style="font-size:x-large">
        <div class="col-sm m-2 p-2">
            <a href="https://www.dropbox.com/s/mtnkna4rwp1cllz/Ruissalo_02.jpg?raw=1" alt="Luminen ja jäinen maisemakuva, Ruissalo." target="_blank">
                <img src="https://www.dropbox.com/s/mtnkna4rwp1cllz/Ruissalo_02.jpg?raw=1" height=150 width=200 class="img-thumbnail">
            </a>
        </div>
        <div class="col-sm m-2 p-2">
            <a href="https://www.dropbox.com/s/fmm3wk1vlxtp92t/Ruissalo_05.jpg?raw=1" alt="Kuva kukkivasta puusta, Ruissalo, puutarha." target="_blank">
                <img src="https://www.dropbox.com/s/fmm3wk1vlxtp92t/Ruissalo_05.jpg?raw=1" height=150 width=200 class="img-thumbnail">
            </a>
        </div>
        <div class="col-sm m-2 p-2">
            <a href="https://www.dropbox.com/s/2sb832en2y3i0vq/Ruissalo_06.jpg?raw=1" alt="Kuva metsäisestä polusta Kuuvannokan tienoilta Ruissalosta." target="_blank">
                <img src="https://www.dropbox.com/s/2sb832en2y3i0vq/Ruissalo_06.jpg?raw=1" height=150 width=200 class="img-thumbnail">
            </a>
        </div>
        <div class="col-sm m-2 p-2">
            <a href="https://www.dropbox.com/s/cxjjl9kp3ktri4a/Mylly_01.jpg?raw=1" alt="Kuva syksyisestä polusta Raision Myllyn seudulla." target="_blank">
                <img src="https://www.dropbox.com/s/cxjjl9kp3ktri4a/Mylly_01.jpg?raw=1" height=150 width=200 class="img-thumbnail">
            </a>
        </div>
    </div>
    <div class="row" style="font-size:x-large">
        <div class="col-sm">
            <a href="https://www.dropbox.com/s/sfup66mn2515ccv/Raisio_01_muokattu.jpg?raw=1" alt="Muokattu kuva syksyisestä polusta Raision Myllyn seudulla." target="_blank">
                <img src="https://www.dropbox.com/s/sfup66mn2515ccv/Raisio_01_muokattu.jpg?raw=1" height=300 width=400 class="img-thumbnail">
            </a>
        </div>
    </div>
</div>
