@{
    ViewData["Title"] = "Yksityisyyden suoja";
}
<h1>@ViewData["Title"]</h1>

<p>Tämä sivusto ei ole tarkoitettu tiedon tallentamiseen, vaikka sillä sellainen ominaisuus onkin (tuleekin olemaan).</p>
<p>Älä tallenna tänne mitään mitään arkaluontoista.</p>
